<div class="registro-container">
  <div class="turno-form-container">
    <div class="card mb-4">
      <div class="card-header bg-white">
        <h2 class="text-primary">
          {{ editandoTurno ? "Editar turno" : "Programación Mensual de Turnos" }}
        </h2>
      </div>

      <div class="card-body">
        <form [formGroup]="AsignacionTurnoForm" (ngSubmit)="onSubmit()">
          <!-- Primera fila: Mes y Turnos -->
          <div class="row gx-3 mb-3">
            <!-- Mes -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="diaInicio">Mes</label>
                <select class="form-select" id="mes" formControlName="mes">
                  <option value="">Seleccionar</option>
                  <option *ngFor="let mes of nombresMeses; let i = index" [value]="i">{{ mes }}</option>
                </select>
          
             <!--- <small class="text-danger" >
                Seleccione el mes
              </small>--->
            </div>
          </div>
               
            <!-- Turnos -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="diaInicio">Turnos</label>
                <select
                  class="form-select"
                  id="diaInicio"
                  formControlName="turno"
                >
                  <option value="">Seleccionar</option>
                  <ng-container *ngIf="codigo && codigo.length > 0">
                    <option *ngFor="let item of codigo" [value]="item.idTurno">
                      {{ item.codigo }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
            
          </div>
          

          <!-- Segunda fila: Asignación múltiple y Periodo U -->
          <div class="row gx-3 mb-3">
            <!-- Asignación múltiple -->
            <div class="col-md-6"> 
              <div class="form-group">
                <label for="diaInicio">Asignación múltiple</label>  
                <mat-form-field  class="w-100 yellow-bordered-field">
                  <mat-chip-grid 
                    #chipList 
                    aria-label="Seleccionar ingenieros"  
                    formControlName="ingenierosAsignados"
                  > 
                    <mat-chip id="asignacionM"
                      *ngFor="let ingeniero of selectedIngenieros"
                      [removable]="true"
                      (removed)="remove(ingeniero)"
                    >
                      {{ ingeniero.fullname }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input 
                      matInput
                      placeholder="Agregar"
                      #ingenieroInput
                      [formControl]="ingenieroCtrl"
                      [matAutocomplete]="auto"
                      [matChipInputFor]="chipList" />
                  </mat-chip-grid>
            
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let ing of filteredIngenieros | async" [value]="ing">
                      {{ ing.fullname }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            
            <!-- Periodo U -->
            <div class="col-md-6">
              <div class="form-group"  >
                <label for="diaInicio">Periodo U</label>  
                <mat-form-field  class="w-100 blue-bordered-field" >
                <!-- <mat-label>Seleccionar rango de fechas</mat-label>--> 
                  <mat-date-range-input [rangePicker]="pickerU"  >
                    <input matStartDate formControlName="fechaInicio" placeholder="Fecha inicio" />
                    <input matEndDate formControlName="fechaFin" placeholder="Fecha fin" />
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="pickerU"></mat-datepicker-toggle>
                  <mat-date-range-picker #pickerU></mat-date-range-picker>
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- Botones -->
          <div class="text-center mt-4">
            <button
              type="submit"
              mat-raised-button
              color="primary"
              class="action-button">
              {{ editandoTurno ? "Actualizar" : "Agregar" }}
            </button>
            <button
              *ngIf="editandoTurno"
              type="button"
              mat-raised-button
              color="warn"
              class="action-button ms-3">
              Cancelar
            </button>
          </div>
        </form>
      </div>

      <!---
      <div class="table-container">
        <mat-tab-group>
          <mat-tab label="Semana 1 (01-07)">
         
          </mat-tab>
      
          <mat-tab label="Semana 2 (08-14)"></mat-tab>
          <mat-tab label="Semana 3 (15-21)"></mat-tab>
          <mat-tab label="Semana 4 (22-31)"></mat-tab>
        </mat-tab-group>
      </div>
-->
<!---tala2---
<div class="card-body p-0">
  <div class="table-responsive">
    <table class="table table-hover mb-0">
      <thead class="table-light">
        <tr class="text-center">
          <th scope="col">Ingeniero</th>
          <th scope="col">Fecha Inicio</th>
          <th scope="col">Fecha Fin</th>
          <th scope="col">Turno</th>
          <th scope="col">Días</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-light-blue text-center">
          <td>Ana Torres</td>
          <td>2024-04-01</td>
          <td>2024-04-05</td>
          <td>TM</td>
          <td>Lunes a Viernes</td>
          <td>
            <button class="btn btn-sm btn-icon me-2">
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button class="btn btn-sm btn-icon">
              <i class="fas fa-times"></i>
            </button>
          </td>
        </tr>
        <tr class="bg-light-blue text-center">
          <td>Marco Ruiz</td>
          <td>2024-04-03</td>
          <td>2024-04-06</td>
          <td>TN</td>
          <td>Miércoles a Sábado</td>
          <td>
            <button class="btn btn-sm btn-icon me-2">
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button class="btn btn-sm btn-icon">
              <i class="fas fa-times"></i>
            </button>
          </td>
        </tr>
        <tr class="bg-light-blue text-center">
          <td>Luis Pérez</td>
          <td>2024-04-10</td>
          <td>2024-04-14</td>
          <td>TD</td>
          <td>Miércoles a Domingo</td>
          <td>
            <button class="btn btn-sm btn-icon me-2">
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button class="btn btn-sm btn-icon">
              <i class="fas fa-times"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

-->
<!--aqui comienza la logica para filtrar el mes en la tabla -->
 <!-- Formulario de filtrado para la tabla (AsignacionTurnoFormMes) -->
<!-- Formulario de filtrado para la tabla -->
<!-- Formulario de filtrado para configurar las pestañas -->
<div class="card-body">
  <form [formGroup]="AsignacionTurnoFormMes">
    <div class="col-md-6">
      <div class="form-group">
        <label for="mes">Mes</label>
        <select class="form-select" id="mes" formControlName="mes">
          <option value="">Seleccionar</option>
          <option *ngFor="let mes of nombresMeses; let i = index" [value]="i">
            {{ mes }}
          </option>
        </select>
      </div>
    </div>
  </form>
</div>

<!-- Mat Tab Group con pestañas generadas dinámicamente -->
<mat-tab-group *ngIf="cabeceras.length > 0">
  <mat-tab *ngFor="let header of cabeceras" [label]="header">
    <!-- Aquí puedes colocar el contenido específico para cada semana -->
    <div class="tab-content">
      Contenido de {{ header }}
    </div>
  </mat-tab>
</mat-tab-group>




</div>
</div>
</div>





