<div class="container">
  <h2>Usuarios</h2>
  <div class="table-container">
    <h3>Listado de usuarios</h3>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cédula</th>
          <th>Estado</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios" [attr.data-id]="usuario.id">
          <td>{{ usuario.fullname }}</td>
          <td>{{ usuario.cedula }}</td>
          <td>
            <select
              [(ngModel)]="usuario.estado"
              (change)="detectarCambiosEstado(usuario)"
            >
              <option [ngValue]="true">Activo</option>
              <option [ngValue]="false">Inactivo</option>
            </select>
          </td>
          <td>
            <select
              [(ngModel)]="usuario.rol"
              (change)="detectarCambiosRol(usuario)"
            >
              <option *ngFor="let role of roles" [ngValue]="role">
                {{ role.nombre }}
              </option>
            </select>
          </td>
          
          <td>
            <button
              class="save-btn"
              [disabled]="!usuario.cambiosPendientes"
              [class.changes-pending]="usuario.cambiosPendientes"
              (click)="actualizarUsuario(usuario)"
            >
              <i class="fas fa-pencil-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
