<aside class="sidebar">
  <ul class="menu">
    <li class="menu-item">
      <a [routerLink]="['/listarUsuario']">
        <i class="icon">👤</i> Usuarios
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/maestroTurno']">
        <i class="icon">📑</i> Maestro turno
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/maestroHoraLegal']">
        <i class="icon">📝</i> Maestro tipo de hora extra
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/RegistroTurno']">
        <i class="icon">🗓️</i> Gestión de turnos
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/registrohora']">
        <i class="icon">➕</i> Horas extras
      </a>
    </li>
  </ul>
</aside>
