<!-- sidebar.component.html -->
<div class="sidebar left">
  <div class="admin-header">
    <i class="fa fa-user-circle admin-icon"></i>
    <span>Administrador</span>
  </div>

  <div class="section-title">Favoritos</div>
  <ul class="menu-list">
    <li *ngFor="let item of menuItems.favoritos" 
        class="menu-item"
        [routerLink]="item.link"
        routerLinkActive="active">
      <i class="fa fa-circle"></i>
      {{item.title}}
    </li>
  </ul>

  <div class="section-title">Tableros</div>
  <ul class="menu-list">
    <input type="text" (click)="navigateToPage()" placeholder="Haz clic aquí">
  </ul>
</div>