<aside class="sidebar">
  <div class="profile-section">
<img src="https://cdn-icons-png.flaticon.com/512/3048/3048122.png" alt="Avatar neutro profesional" class="profile-pic" />
    <div class="username">{{ data.nombre }}</div>
    <div class="role">{{ data.rol === 'admin' ? 'Administrador' : 'Consultor' }}</div>
  </div>

  <ul class="menu">
    <li class="menu-item">
      <a [routerLink]="['/home']">
        <i class="icon fas fa-home"></i> Inicio
      </a>
    </li>
    <li class="menu-item"  *ngIf="data.rol === 'admin'" >
      <a [routerLink]="['/listarUsuario']">
        <i class="icon fas fa-users"></i> Usuarios
      </a>
    </li>
    <li class="menu-item" *ngIf="data.rol === 'admin'">
      <a [routerLink]="['/maestroTurno']">
        <i class="icon fas fa-calendar-alt"></i> Maestro turno
      </a>
    </li>
    <li class="menu-item" *ngIf="data.rol === 'admin'">
      <a [routerLink]="['/maestroHoraLegal']">
        <i class="icon fas fa-clock"></i> Maestro tipo de hora extra
      </a>
    </li>
    <li class="menu-item" >
      <a [routerLink]="['/RegistroTurno']">
        <i class="icon fas fa-tasks"></i> Gestión de turnos
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/registrohora']">
        <i class="icon fas fa-stopwatch"></i> Horas extras
      </a>
    </li>
    <li class="menu-item">
      <a (click)="logout()" style="cursor: pointer;">
        <i class="icon fas fa-sign-out-alt"></i> Cerrar sesión
      </a>
    </li>
  </ul>
</aside>
